---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://pub-023c3e677cc749cd89ec726c78c6178e.r2.dev/logo-new-576w_edited.png" />
    <meta name="generator" content={Astro.generator} />
    <title>G. Gardner Concrete & Waterproofing, Inc | Foundational Excellence</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@400&family=Montserrat:wght@800&family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>