---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import ThreeColumnServices from "../components/ThreeColumnServices.astro";
import BeforeAfterGallery from "../components/BeforeAfterGallery.astro";
import Specializations from "../components/Specializations.astro";
import ConcreteBookingForm from "../components/ConcreteBookingForm.astro";
import "../styles/global.css";
---

<Layout includeBusinessSchema={true} includeWebsiteSchema={true}>
  <div class="min-h-screen flex flex-col">
    <Navbar />

    <main class="flex-grow">
      <Hero />
      <ThreeColumnServices />
      <Specializations />
      <BeforeAfterGallery />
      
      <!-- Concrete Booking Form Section -->
      <section class="py-16 bg-gray-50" id="concrete-booking-form">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <ConcreteBookingForm />
        </div>
      </section>
    </main>

    <Footer />
  </div>
</Layout>